/*Universal Styles*/

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

p {
	margin: 0;
}


body {
	width: 1300px;
}

.container {
margin: 0 auto;
 }

/*Header Styles*/

nav {
	text-transform: uppercase;
}

.top {
	background-image: url(assets/header.jpg);
	height: 523px;
	color: HSLA(204, 82%, 17%, 1);
	font-family: 'Oswald', sans-serif;
}

header a {
	text-decoration: none;
	color: HSLA(204, 82%, 17%, 1);
}

.topleft {
	float: left;
	padding-top: 10px;
	padding-left: 141px;
}
 .topleft img {
 	vertical-align: middle;
 }

 .topleft span {
 	padding-left: 9px;
 	font-size: 14px;
 }

.topright {
	float: right;
	/*padding-top: 24px;
	padding-right: 168px;*/
}

.topright li {
	float: left;
}

.topright li:first-child {
	padding-top: 24px;
	padding-right: 9px;
}

.topright li:last-child {
	padding-top: 20px;
	padding-right: 159px;
	font-size: 16px;
}
/*
.title {
	text-align: center;
	padding-top: 190px;
	color: HSLA(0, 0%, 100%, 1);
	font-size: 54px;
}*/

h1 {
	padding-top: 213px;
	padding-left: 189px;
	font-size: 90px;
	margin: 0;
	color: white;
	text-transform: uppercase;
}
h3 {
	padding-left: 496px;
	margin: 0;
	font-size: 15px;
}

/*Article Styles*/

.body {
	font-family: 'Open Sans', sans-serif;
}

h2 {
color: HSLA(204, 82%, 18%, 1);
margin: 0;
}

.article-author {
	color: HSLA(206, 84%, 38%, 1);
}

.article-date {
	color: HSLA(207, 18%, 71%, 1);
}

.article-time {
	text-decoration: underline;
}

.text-container {

}

.body-buttons {
	display: block;
}

.body-buttons a {
	text-decoration: none;
}

.body-buttons span {
	background-color: HSLA(206, 18%, 69%, 1);
}

.body-buttons img {
	background-color: HSLA(205, 8%, 40%, 1);
}


/*.comment-button img:hover {
	background-color: HSLA(204, 82%, 18%, 1);
}

.later-button img:hover {
	background-color: HSLA(204, 82%, 18%, 1);
}

.share-button img:hover {
	background-color: HSLA(204, 82%, 18%, 1);
}

.comment-button span:hover {
	background-color: HSLA(206, 84%, 38%, 1);
}

.later-button span:hover {
	background-color: HSLA(206, 84%, 38%, 1);
}

.share-button span:hover {
	background-color: HSLA(206, 84%, 38%, 1);
}
*/