/*Universal Styles*/
li {
	list-style: none;
}
ul {
	padding-left: 0;
}

/*Container Styles*/
div .container {
	width: 1300px;
}

/*Header Styles */

header {
	background-image: url(assets/header.jpg);
	overflow: auto;
	margin: 0 auto;
	height: 523px;
}

header .headertopleft {
	float: left;
}

header .headertopright {
	float: right;
}

header a {
	text-decoration: none;
	text-transform: uppercase;
}

header .title {
	text-transform: uppercase;
}